<div class="chat-up-command">
 <div class="lert-header">
     <div class="group-name">
     <!--messagesコントローラーの@roomからテーブルの情報を取得し、nameカラム情報を表示する-->
        <%= @room.name %>
     </div>
     </div>
     <div class="exit">
     <!--リンクのボタン名を決めて、パスを探してきて、HTTPメソッドを指定する-->
        <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
     </div>
</div>
<div class="chat">
<!--このように記述することで、_message.hetml.erbを部分テンプレートとして読み込む-->
<%= render partial: 'message', collection: @messages %>
  </div>
  <%= form_with model: [@room,@message], class: 'chat-down-command', local: true do|f|%>
    <div class="send-message">
    <%=f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
    <span class="image-file">画像</span>
    <%= f.file_field  :image, class: 'hidden'%>
    </label>
    </div>
    <%= f.submit '送信', class: 'form-submit'%>
    <% end %>